:root {
	--bg: #121416;
	--bg-bright: #1C1F22;
	--bg-dark: #090A0B;
	--theme: #00CC66;
	--theme-bright: #00FF80;
	--text: #F5F5F5;
}

body {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: var(--bg);
	color: var(--text);
	position: relative;
	height: 100%;
}

a {
	color: var(--theme);
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: var(--theme-bright);
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}

ul {
	list-style: none
}

button, input, select, textarea {
	margin: 0
}

html {
	box-sizing: border-box
}

*, *::before, *::after {
	box-sizing: inherit
}

img, video {
	height: auto;
	max-width: 100%
}

iframe {
	border: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td, th {
	padding: 0
}

td:not([align]), th:not([align]) {
	text-align: left
}